/* footer */
.footer {
}

.second_footer {
    background: #383633;
    padding-top: 2%;
    padding-top: 4%;
}

.nav.border {
    /* border-bottom: 1px solid var(--gray-color); */
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.footer.margin {
    margin-top: 5%;
}

.footer.border {
    border-bottom: 1px solid var(--grey);
}

.footer .biased_grid_4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer a, .footer ul li a, .footer p {
    color: #f7eee3;
}

.footer ul li a {
    line-height: 2.4;
    font-size: .9rem;
}

.sec_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec_footer {
    margin-top: 30px;
}

.sec_footer p {
    margin-bottom: 0px;
    font-size: .9rem;
}

.sec_footer ul li::before {
    content: "- ";
    color: #f7eee3;
}

.sec_footer ul li {
    display: inline-block;
    padding-right: 15px;
}

.footer div.biased_grid_4 div:first-child p {
    width: 80%;
}

.footer ul li {
    list-style: none;
}

.footer h5 {
    color: #f7eee3;
    font-size: 1rem;
    text-transform: capitalize;
}

.footer h3 {
    color: #f7eee3;
}

.footer ion-icon {
    color: #f7eee3;
    font-size: 1.4rem;
    margin-right: 10px;
}

.first_footer {
    background: #514F4D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.first_footer .contain {
    width: 100%;
}

.first_footer .append_button {
    display: flex;
}

.first_footer .append_button button {
    background: #F7EEE3;
    color: #383633;
    padding: 8px 35px;
    border: 1px solid #F7EEE3;
    border-radius: 0px 50px 50px 0px;
}

.first_footer input {
    background: transparent;
    min-width: 400px;
    border-radius: 50px 0 0 50px;
}